@* 
    Permissies: Admin, Decaan
    Te bereiken van: _Layout
    Linkt door naar: Decaan/Mail/MailOverzicht, Decaan/Mail/MailBevestiging
    Beschrijving: Weergeeft de te verzenden e-mail, de verzender heeft op deze pagina de optie om de onvangers te selecteren op relevante eigenschappen, op deze manier kan bijvoorbeeld een herinnerings mail verzend worden naar iedereen die zich nog niet aangemeld heeft.
*@

@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "E-Mail verzenden";

    if (!User.IsInRole("Admin") && !User.IsInRole("Decaan"))
    {
        Response.Redirect("~/");
    }

    int mailId = -1;
    var onderwerp = "";
    var inhoud = "";
    List<int> userIds = new List<int>{};
    List<string> mails = new List<string>{};
    List<KlasRepo.Klas> klassen = KlasRepo.GetKlassen();
    List<GebruikerRepo.Gebruiker> gebruikers = GebruikerRepo.GetGebruikers();

    if(!Request.QueryString["MailId"].IsEmpty() && Request.QueryString["MailId"].IsInt())
    {
        mailId = Convert.ToInt16(Request.QueryString["MailId"]);
            
        var db = Database.Open(App.DataBase);
        var dbCommand = "SELECT * FROM Mail WHERE MailId = @0";
        var data = db.QuerySingle(dbCommand, mailId);

        if(data != null)
        {
            userIds = MailOntvangerRepo.GetMailOntvangerIds(mailId);
            mails = MailOntvangerRepo.GetMailOntvangers(userIds);
            
            onderwerp = data.Onderwerp;
            inhoud = data.Inhoud;
        }
        else
        {
            Validation.AddFormError("Er was geen mail concept geselecteerd");
        }
    }
    else
    {
        Validation.AddFormError("Er was geen mail concept geselecteerd");
    }

    if(IsPost && Request.Form["sendMail"] != null)
    {
        Validation.RequireField("onderwerp", "De mail moet een onderwerp gegeven worden");
        Validation.RequireField("inhoud", "Inhoud is vereist");
        Validation.RequireField("mailId", "Er is geen mailId doorgestuurd");

        onderwerp = Request.Form["Onderwerp"];
        inhoud = Request.Form["Inhoud"];
        mailId = Convert.ToInt16(Request.Form["MailId"]);

        foreach(string mail in mails)
        {
            WebMail.Send(to: mail,
            subject: onderwerp,
            body: inhoud);
        }
    }
    
    if(IsPost && Request.Form["addOntvanger"] != null)
    {
        string klas = "";
        string user = "";
        string niveau = "";
        string role = "";
        string aangemeld = "";

        if (Request.Form["klas"] != "-")
        {
            klas = Request.Form["klas"];
        }
        if (Request.Form["user"] != "-")
        {
            user = Request.Form["user"];
        }
        if (Request.Form["niveau"] != "-")
        {
            niveau = Request.Form["niveau"];
        }
        if (Request.Form["role"] != "-")
        {
            role = Request.Form["role"];
        }
        if (Request.Form["aangemeld"] != "-")
        {
            aangemeld = Request.Form["aangemeld"];
        }

        if (!(klas == "" && user == "" && niveau == "" && role == "" && aangemeld == ""))
        {
            MailOntvangerRepo.InsertMailOntvanger(mailId, aangemeld, niveau, klas, role, user);
        }
    }
}
@Html.ValidationSummary()
<form method="post" @*action="MailBevestiging.cshtml"*@>
    <p>
        <label for="onderwerp">Onderwerp:</label>
        <input type="text" name="onderwerp" value="@onderwerp"></input>
    </p>
    <p>
        <label for="inhoud">Inhoud:</label>
        <textarea style="width: 100%; resize: none; margin-bottom: 16px;" name="leerlingenInvoer" class="form-control col-md-12" rows="10" placeholder="@inhoud" maxlength="4000"></textarea>
    </p>

    <button type="submit" id="submit" name="sendMail" class="btn btn-success" style="float: right;">
        <span class="glyphicon glyphicon-envelope"></span>&nbsp; Send
    </button>
</form>

<form method="post">
    <select name="klas" class="form-control">
        <option value="-"></option>
        @foreach(KlasRepo.Klas klas in klassen) // maakt een keuzemenu met alle mogelijke klassen
        {
            <option value="@klas.KlasId">@klas.KlasNaam</option>
        }
    </select>
    <select name="user" class="form-control">
        <option value="-"></option>
        @foreach(GebruikerRepo.Gebruiker gebruiker in gebruikers) // maakt een keuzemenu met alle mogelijke gebruikers
        {
            <option value="@gebruiker.UserId">@gebruiker.Voornaam @gebruiker.Achternaam (@gebruiker.UserName)</option>
        }
    </select>
    <select name="niveau" class="form-control">
        <option value="-"></option>
        <option value="HAVO">HAVO</option>
        <option value="VWO">VWO</option>
    </select>
    <select name="role" class="form-control">
        <option value="-"></option>
        <option value="4">Leerlingen</option>
        <option value="3">Leraren</option>
    </select>
    <select name="aangemeld" class="form-control">
        <option value="-"></option>
        <option value="True">Aangemeld</option>
        <option value="False">Niet aangemeld</option>
    </select>
    <button type="submit" id="submit" name="addOntvanger" class="btn btn-success" style="float: right;">
            <span class="glyphicon glyphicon-envelope"></span>&nbsp; Voeg ontvangers toe
    </button>
</form>