@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "E-Mail verzenden";

    if (!User.IsInRole("Admin") && !User.IsInRole("Decaan"))
    {
        Response.Redirect("~/");
    }

    int mailId = -1;
    List<int> userIds = new List<int>{};
    List<string> ontvangers = new List<string>{};
    List<KlasRepo.Klas> klassen = KlasRepo.GetKlassen();
    List<GebruikerRepo.Gebruiker> gebruikers = GebruikerRepo.GetGebruikers();

    if(!Request.QueryString["MailId"].IsEmpty() && Request.QueryString["MailId"].IsInt())
    {
        mailId = Convert.ToInt16(Request.QueryString["MailId"]);
        
        MailRepo.Mail mailDetails = MailRepo.GetMail(mailId);
        if (mailDetails != null)
        {
            ontvangers = MailOntvangerRepo.GetMailOntvangerStrings(mailId);
        }
        else
        {
            Validation.AddFormError("Er was geen mail concept geselecteerd");
        }
    }
    else
    {
        Validation.AddFormError("Er was geen mail concept geselecteerd");
    }

    if(IsPost && Request.Form["addOntvanger"] != null)
    {
        string klas = "";
        string user = "";
        string niveau = "";
        string role = "";
        string aangemeld = "";

        if (Request.Form["klas"] != "-")
        {
            klas = Request.Form["klas"];

            if (Validation.IsValid())
            {
                MailOntvangerRepo.InsertMailOntvanger(mailId, klasId:klas);
            }
        }
        if (Request.Form["user"] != "-")
        {
            user = Request.Form["user"];

            if (Validation.IsValid())
            {
                MailOntvangerRepo.InsertMailOntvanger(mailId, userId:user);
            }
        }
        if (Request.Form["niveau"] != "-")
        {
            niveau = Request.Form["niveau"];

            if (Validation.IsValid())
            {
                MailOntvangerRepo.InsertMailOntvanger(mailId, niveau:niveau);
            }
        }
        if (Request.Form["role"] != "-")
        {
            role = Request.Form["role"];

            if (Validation.IsValid())
            {
                MailOntvangerRepo.InsertMailOntvanger(mailId, roleId:role);
            }
        }
        if (Request.Form["aangemeld"] != "-")
        {
            aangemeld = Request.Form["aangemeld"];

            if (Validation.IsValid())
            {
                MailOntvangerRepo.InsertMailOntvanger(mailId, aangemeld:aangemeld);
            }
        }

        Response.Redirect(string.Format("~/Decaan/Mail/MailVerzenden?MailId={0}", mailId));
    }

    if(IsPost && Request.Form["deleteOntvanger"] != null)
    {
        MailOntvangerRepo.DeleteMailOntvangers(mailId);

        Response.Redirect(string.Format("~/Decaan/Mail/MailVerzenden?MailId={0}", mailId));
    }
}
@Html.ValidationSummary()
<h2>E-Mail ontvangers toevoegen</h2>
<p><b>Ontvangers:</b></p>
@foreach (string ontvanger in ontvangers)
{
    <p>@ontvanger</p>
}
<br>

<form method="post">
    <div class="form-group">
        <label for="userName">Klas</label>
        <select name="klas" class="form-control">
            <option value="-"></option>
            @foreach(KlasRepo.Klas klas in klassen) // maakt een keuzemenu met alle mogelijke klassen
            {
                <option value="@klas.KlasId">@klas.KlasNaam</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="userName">Leerlingen en leraren</label>
        <select name="user" class="form-control">
            <option value="-"></option>
            @foreach(GebruikerRepo.Gebruiker gebruiker in gebruikers) // maakt een keuzemenu met alle mogelijke gebruikers
            {
                <option value="@gebruiker.UserId">@gebruiker.Voornaam @gebruiker.Achternaam (@gebruiker.UserName)</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="userName">Niveau</label>
        <select name="niveau" class="form-control">
            <option value="-"></option>
            <option value="HAVO">HAVO</option>
            <option value="VWO">VWO</option>
        </select>
    </div>
    <div class="form-group">
        <label for="userName">Rol</label>
        <select name="role" class="form-control">
            <option value="-"></option>
            <option value="4">Leerlingen</option>
            <option value="3">Leraren</option>
        </select>
    </div>
    <div class="form-group">
        <label for="userName">Aangemeld</label>
        <select name="aangemeld" class="form-control">
            <option value="-"></option>
            <option value="True">Aangemeld</option>
            <option value="False">Niet aangemeld</option>
        </select>
    </div>
    <button type="submit" id="submit" name="addOntvanger" class="btn btn-success" style="float: right; margin-left: 8px; margin-top: 8px;">
            <span class="glyphicon glyphicon-plus"></span>&nbsp; Voeg ontvangers toe
    </button>
</form>
<form method="post">
    <button type="submit" id="submit" name="deleteOntvanger" class="btn btn-danger" style="float: left; margin-top: 8px;">
            <span class="glyphicon glyphicon-remove"></span>&nbsp; Verwijder alle ontvangers
    </button>
</form>