@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Voorlichting wijzigen";

    if (!User.IsInRole("Admin") && !User.IsInRole("Decaan"))
    {
        Response.Redirect("~/");
    }

    int id = Convert.ToInt16(Request.QueryString["id"]);
    VoorlichtingRepo.Voorlichting voorlichting = VoorlichtingRepo.GetVoorlichting(id);

    List<LeerlingRepo.Leerling> leerlingen = LeerlingRepo.GetLeerlingen(voorlichting.VakId);

    if (voorlichting == null)
    {
        Validation.AddFormError("Deze voorlichting bestaat niet.");
    }

    if (IsPost && Request.Form["manage"] != null)
    {
        RoosterRepo.DeleteRoosters(voorlichting.VoorlichtingId);
        foreach (string leerling in Request.Form.GetValues("leerlingenInvoer"))
        {
            if (leerling == "-")
            {}
            else
            {
            RoosterRepo.InsertRooster(voorlichting.VoorlichtingId, Convert.ToInt16(leerling));
            }
        }
    }

    if (IsPost && Request.Form["delete"] != null)
    {
        VoorlichtingRepo.DeleteVoorlichting(id);
        Response.Redirect("~/Decaan/Voorlichting/VoorlichtingOverzicht");
    }
}

@Html.ValidationSummary()
@if (voorlichting != null)
{

    <h2>Voorlichting verwijderen</h2>

    <p>
        <span>Voorlichting:</span>
        <span><b>@voorlichting.Vak</b> (<b>@voorlichting.Niveau</b>) van <b>@voorlichting.Leraar</b> op datum: <b>@string.Format("{0:d/M/yyyy}", voorlichting.DateTime)</b> om tijdstip: <b>@string.Format("{0:HH:mm}", voorlichting.DateTime)</b> in lokaal <b>@voorlichting.Lokaal</b>.</span>
    </p>



    <form method="post" class="form-inline">
        <select class="form-control" id="sel1" name="leerlingenInvoer" multiple>
            <option value="-"></option>
            @foreach(LeerlingRepo.Leerling leerling in leerlingen)
            {
                bool check = RoosterRepo.ValidateRooster(voorlichting.VoorlichtingId, leerling.UserId);
                if (check)
                {
                    <option value="@leerling.UserId" selected>@leerling.Voornaam @leerling.Achternaam (@leerling.Leerlingnummer)</option>
                }
                else
                {
                    <option value="@leerling.UserId">@leerling.Voornaam @leerling.Achternaam (@leerling.Leerlingnummer)</option>
                }
            }
        </select>
        <button type="submit" id="submit" name="manage" class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span> Kies
        </button>
    </form>

    <button type="button" class="btn btn-danger" id="floatRight" data-toggle="modal" data-target="#verwijderWarning"><span class="glyphicon glyphicon-remove"></span>&nbsp; Verwijder</button>

    <div id="verwijderWarning" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Waarschuwing</h4>
                </div>
                <div class="modal-body">
                    <p>Weet je zeker dat je de voorlichting "<b>@voorlichting.Vak</b> (<b>@voorlichting.Niveau</b>) van <b>@voorlichting.Leraar</b> op datum: <b>@string.Format("{0:d/M/yyyy}", voorlichting.DateTime)</b> om tijdstip: <b>@string.Format("{0:HH:mm}", voorlichting.DateTime)</b> in lokaal <b>@voorlichting.Lokaal</b>" wilt verwijderen?</p>
                </div>
                <div class="modal-footer">
                    <form method="post" class="form-inline">
                    <button type="submit" id="submit" name="delete" class="btn btn-danger">
            <span class="glyphicon glyphicon-remove"></span>&nbsp; Verwijderen
        </button>       
                    <button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
                        </form>
                </div>
            </div>

        </div>
    </div>
}