@*
    Permissies: Admin, Decaan
    Te bereiken van: Decaan/Voorlichting/VoorlichtingOverzicht
    Linkt door naar: Decaan/Voorlichting/VoorlichtingOverzicht
    Beschrijving: Voegt leerlingen in het rooster toe aan de voorlichting of verwijdert een vak
*@
@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Voorlichting wijzigen";

    if (!User.IsInRole("Admin") && !User.IsInRole("Decaan"))
    {
        Response.Redirect("~/");
    }

    int id = Convert.ToInt16(Request.QueryString["id"]);
    VoorlichtingRepo.Voorlichting voorlichting = VoorlichtingRepo.GetVoorlichting(id);
    LokaalRepo.Lokaal lokaal = LokaalRepo.GetLokaal(voorlichting.LokaalId);

    List<LeerlingRepo.Leerling> leerlingen = LeerlingRepo.GetLeerlingen(voorlichting.VakId);

    var capaciteitGebruik = 0;

    if (voorlichting == null)
    {
        Validation.AddFormError("Deze voorlichting bestaat niet.");
    }

    if (IsPost && Request.Form["manage"] != null)
    {
        RoosterRepo.DeleteRoosters(voorlichting.VoorlichtingId);
        foreach (string leerling in Request.Form.GetValues("leerlingenInvoer"))
        {
            if (leerling == "-")
            {}
            else
            {
            RoosterRepo.InsertRooster(voorlichting.VoorlichtingId, Convert.ToInt16(leerling));
            }
        }
    }

    if (IsPost && Request.Form["delete"] != null)
    {
        VoorlichtingRepo.DeleteVoorlichting(id);
        Response.Redirect("~/Decaan/Voorlichting/VoorlichtingOverzicht");
    }

    

}

@Html.ValidationSummary()
@if (voorlichting != null)
{
    <h2>Voorlichting wijzigen</h2>

    <p>
        <span>Voorlichting:</span>
        <span><b>@voorlichting.Vak</b> (<b>@voorlichting.Niveau</b>) van <b>@voorlichting.Leraar</b> op datum: <b>@string.Format("{0:d/M/yyyy}", voorlichting.DateTime)</b> om tijdstip: <b>@string.Format("{0:HH:mm}", voorlichting.DateTime)</b> in lokaal <b>@voorlichting.Lokaal</b>.</span>
    </p>
    
    <div>
        Capaciteit: @foreach (LeerlingRepo.Leerling leerling in leerlingen)
                    {
                        bool check = RoosterRepo.ValidateRooster(voorlichting.VoorlichtingId, leerling.UserId);
                        if (check)
                        {
                            capaciteitGebruik += KeuzeRepo.GetAantalMensen(voorlichting.VakId, leerling.UserId);
                        }
                    }
                    @(lokaal.Capaciteit - capaciteitGebruik) v/d @lokaal.Capaciteit plekken vrij
    </div>
    
        
    
    double progressPercentage = Convert.ToDouble(capaciteitGebruik)/ Convert.ToDouble(lokaal.Capaciteit) * 100;
    
    var progressClass = "progress-bar";

    if (progressPercentage <= 40) {
       progressClass = "progress-bar progress-bar-success";
    }
    else if ((progressPercentage > 40) && (progressPercentage <= 60)) {
        progressClass = "progress-bar progress-bar-info";
    }
    else if ((progressPercentage > 60) && (progressPercentage <= 80)) {
        progressClass = "progress-bar progress-bar-warning";
    }
    else {
        progressClass = "progress-bar progress-bar-danger";
    }
    
    <div class="progress" style="margin-top: 12px;">
        <div class="@progressClass" role="progressbar" style="width:@progressPercentage%">
            @progressPercentage%
        </div>
    </div>

<div class="bs-callout bs-callout-default">
        <h4>Let op!</h4>
        Iedere leerling dient geselecteerd te worden in de lijst d.m.v. de CTRL-toets.<br><br>
        <span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp; Leerlingen dienen opnieuw geselecteerd te worden mocht de selectie opnieuw aangepast worden.
    </div>


    <form method="post">
        <select class="form-control" id="sel1" name="leerlingenInvoer" style="width: 100%; height: 200px; margin-bottom: 16px;" multiple>
            <option value="-"></option>
            @foreach(LeerlingRepo.Leerling leerling in leerlingen)
            {
                bool check = RoosterRepo.ValidateRooster(voorlichting.VoorlichtingId, leerling.UserId);
                if (check)
                {
                    <option value="@leerling.UserId" selected>@leerling.Leerlingnummer: @leerling.Voornaam @leerling.Achternaam, @KeuzeRepo.GetAantalMensen(voorlichting.VakId, leerling.UserId) pers.</option>
                }
                else
                {
                    <option value="@leerling.UserId">@leerling.Leerlingnummer: @leerling.Voornaam @leerling.Achternaam, @KeuzeRepo.GetAantalMensen(voorlichting.VakId, leerling.UserId) pers.</option>
                }
            }
        </select>
        <button type="submit" id="submit" name="manage" class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span>&nbsp; Selecteer leerlingen
        </button>
    </form>
    <button type="button" class="btn btn-danger" id="floatRight" data-toggle="modal" data-target="#verwijderWarning"><span class="glyphicon glyphicon-remove"></span>&nbsp; Verwijder</button>

    <div id="verwijderWarning" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Waarschuwing</h4>
                </div>
                <div class="modal-body">
                    <p>Weet je zeker dat je de voorlichting "<b>@voorlichting.Vak</b> (<b>@voorlichting.Niveau</b>) van <b>@voorlichting.Leraar</b> op datum: <b>@string.Format("{0:d/M/yyyy}", voorlichting.DateTime)</b> om tijdstip: <b>@string.Format("{0:HH:mm}", voorlichting.DateTime)</b> in lokaal <b>@voorlichting.Lokaal</b>" wilt verwijderen?</p>
                </div>
                <div class="modal-footer">
                    <form method="post" class="form-inline">
                    <button type="submit" id="submit" name="delete" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove"></span>&nbsp; Verwijderen
                    </button>       
                    <button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
}