@*
    Permissies: Admin, Decaan
    Te berijken van: Decaan/Voorlichting/VoorlichtingOverzicht
    Linkt door naar: Decaan/Voorlichting/VoorlichtingOverzicht
    Beschrijving: Vraagt om een vak, lokaal, leraar, niveau en tijdstrip en voegt hiermee een voorlichting toe aan de database
*@
@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Voorlichting toevoegen";

    if (!User.IsInRole("Admin") && !User.IsInRole("Decaan"))
    {
        Response.Redirect("~/");
    }

    List<VakRepo.Vak> vakken = VakRepo.GetVakken();
    List<LokaalRepo.Lokaal> lokalen = LokaalRepo.GetLokalen();
    List<LeraarRepo.Leraar> leraren = LeraarRepo.GetLeraren();

    if (IsPost && Request.Form["voorlichtingToevoegen"] != null)
    {
        int vakId = -1;
        int lokaalId = -1;
        int userId = -1;
        string niveau = "";
        DateTime dateTime = new DateTime();
        
        if(Request.Form["vakId"] != null && Request.Form["vakId"] != "-") {vakId = Convert.ToInt16(Request.Form["vakId"]);}
        if(Request.Form["lokaalId"] != null && Request.Form["lokaalId"] != "-") {lokaalId = Convert.ToInt16(Request.Form["lokaalId"]);}
        if(Request.Form["userId"] != null && Request.Form["userId"] != "-") {userId = Convert.ToInt16(Request.Form["userId"]);}

        if(!DateTime.TryParse(Request.Form["dateTime"], out dateTime))
        {
            Validation.AddFormError("De ingevoerde datum klopt niet.");
        }

        if(Request.Form["niveau"] != null) {niveau = Request.Form["niveau"];}

        Validation.RequireField("vakId", "Geef een vak op");
        Validation.RequireField("lokaalId", "Geef een lokaal op");
        Validation.RequireField("userId", "Geef een leraar op");
        Validation.RequireField("niveau", "Geef het niveau aan");
        Validation.RequireField("dateTime", "Geef het tijdstip aan");

        VakRepo.Vak gekozenVak = VakRepo.GetVak(vakId);
        LeraarRepo.Leraar gekozenLeraar = LeraarRepo.GetLeraar(userId);
        if (gekozenVak != null)
        {
            if (niveau != gekozenVak.Niveau)
            {
                Validation.AddFormError("Het niveau van het gekozen vak komt niet overeen met het gekozen niveau.");
            }
        }
        if (gekozenVak != null && gekozenLeraar != null)
        {
            if (gekozenLeraar.VoorlichtingVak != gekozenVak.VakNaam)
            {
                Validation.AddFormError("Het voorlichting vak van de gekozen leraar komt niet overeen met het gekozen vak.");
            }
        }
        
        if(Validation.IsValid())
        {
            VoorlichtingRepo.MakeVoorlichting(vakId, userId, lokaalId, dateTime, niveau);
            Response.Redirect("~/Decaan/Voorlichting/VoorlichtingOverzicht");
        }
    }
}

<h2>Nieuwe voorlichting aanmaken</h2>

<div class="col-md-12">
    <form method="post">
        @Html.ValidationSummary()
        <div class="form-group">
            <label for="vakId">Vak</label>
            <select name="vakId" class="form-control">
                <option value="-"></option>
                @foreach (VakRepo.Vak vak in vakken)
                {
                    <option value="@vak.VakId">@vak.VakNaam (@vak.Niveau)</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="lokaalId">Lokaal</label>
            <select name="lokaalId" class="form-control">
                <option value="-"></option>
                @foreach (LokaalRepo.Lokaal lokaal in lokalen)
                {
                    <option value="@lokaal.LokaalId">@lokaal.LokaalNaam</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="userId">Leraar</label>
            <select name="userId" class="form-control">
                <option value="-"></option>
                @foreach (LeraarRepo.Leraar leraar in leraren)
                {
                    <option value="@leraar.UserId">@leraar.Voornaam @leraar.Achternaam (@leraar.VoorlichtingVak)</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="niveau">Niveau</label>
            <select name="niveau" class="form-control">
                <option value="HAVO">HAVO</option>
                <option value="VWO">VWO</option>
            </select>
        </div>
        <div class="form-group">
            <label for="dateTime">Datum (dd-mm-jjjj --:--)</label>
            <input class="form-control" type="datetime-local" name="dateTime">
        </div>
        <button type="submit" id="submit" name="voorlichtingToevoegen" class="btn btn-success" style="float: right">
            <span class="glyphicon glyphicon-plus"></span>&nbsp; Toevoegen
        </button>
    </form>
</div>