@*
    Permissies: Admin, Decaan, Leraar
    Te bereiken van: [Alleen Leraar]: Default(Leraar/_Leraar), [Alleen Admin, Decaan]: Default(Decaan/_Decaan)
    Linkt door naar: ~
    Beschrijving: Volledig rooster met alle voorlichtingen en leerlingen die hiervoor aangemeld zijn
*@
@{
    Page.Title= "Rooster";
    Layout = "~/_Layout.cshtml";

    if (!(User.IsInRole("Admin") || User.IsInRole("Decaan") || User.IsInRole("Leraar")))
    {
        Response.Redirect("~/");
    }

    List<VoorlichtingRepo.Voorlichting> voorlichtingen = VoorlichtingRepo.GetVoorlichtingen();
}

<h2>Rooster</h2>
<div class="input-group" id="floatRight">
    <input type="text" class="form-control" id="search" placeholder="Gegevens zoeken" style="margin: 4px 4px 4px 4px;">
</div>
<table class="table" style="margin-top: 16px;">
    <thead>
    <tr>
        <th>Leerlingen</th>
        <th>Vak</th>
        <th>Leraar</th>
        <th>Datum</th>
        <th>Lokaal</th>

    </tr>
    </thead>
    <tbody id="table">
        @for(int i = 0; i < voorlichtingen.Count; i++)
        {
            List<LeerlingRepo.Leerling> leerlingen = LeerlingRepo.GetLeerlingen(voorlichtingId:voorlichtingen[i].VoorlichtingId);
            <tr>
                <td>
                    <div class="dropdown">
                        <button  type="button" id="dropdownMenu_@i" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="padding: 0px; background-color: #fff; border: 0px;">
                            Leerlingen
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu_@i" style="width: max-content;">
                            @foreach (LeerlingRepo.Leerling leerling in leerlingen)
                            {
                                <li style="white-space: nowrap;">@leerling.Leerlingnummer: @leerling.Voornaam @leerling.Achternaam (@leerling.UserName)</li>
                            }
                        </ul>
                    </div>
                </td>
                <td>@voorlichtingen[i].Vak (@voorlichtingen[i].Niveau)</td>
                <td>@voorlichtingen[i].Leraar</td>
                <td>@string.Format("{0:d/M/yyyy HH:mm}", voorlichtingen[i].DateTime)</td>
                <td>@voorlichtingen[i].Lokaal</td>
            </tr>
        }
    </tbody>
</table>