@*Wordt aangeroepen in default*@
@{
   int id = WebSecurity.CurrentUserId;
   List<LeerlingRepo.Leerling> leerlingen = LeerlingRepo.GetLeerlingen();
}
<h2>Leerlingenoverzicht</h2>

<a class="btn btn-success" href="~/Admin/Leerling/BulkLeerlingenToevoegen">
    <span class="glyphicon glyphicon-plus"></span>&nbsp; Meerdere leerlingen aanmaken
</a>
<a class="btn btn-success" href="~/Admin/Leerling/LeerlingToevoegen">
    <span class="glyphicon glyphicon-plus"></span>&nbsp; Nieuwe leerling aanmaken
</a>
</br>
<div class="input-group" id="floatRight">
    <input type="text" class="form-control" id="search" placeholder="Gegevens zoeken" style="margin: 4px 4px 4px 4px;">
</div>
<table class="table" style="margin-top: 16px;">
    <thead>
    <tr>
        <th>Voornaam</td>
        <th>Achternaam</td>
        <th>Leerlingnummer</td>
        <th>Niveau</td>
        <th>Keuzevakken</td>
        <th>Details</td>
    </tr>
    </thead>
    <tbody id="table">
        @foreach (LeerlingRepo.Leerling leerling in leerlingen)
        {
            <tr>
                <td>@leerling.Voornaam</td>
                <td>@leerling.Achternaam</td>
                <td>@leerling.Leerlingnummer</td>
                <td>@leerling.Niveau</td>
                <td>
                @foreach (Tuple<string,int> vak in leerling.KeuzeVakken())
                {
                    <span>@vak.Item1</span>
                }
                </td>
                <td>
                    <a href="~/Decaan/LeerlingDetails?Id=@leerling.UserId">Bekijken</a>
                </td>
                <td style="display:none;">@leerling.Klas</td>
                <td style="display:none;">@leerling.Aangemeld</td>
                <td style="display:none;">@leerling.UserName</td>
                <td style="display:none;">@leerling.MailVerzorger</td>
            </tr>
        }
    </tbody>
</table>

<script>
    var $rows = $('#table tr');
    $('#search').keyup(function() {
        var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
    
        $rows.show().filter(function() {
            var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
            return !~text.indexOf(val);
        }).hide();
    });
</script>