@{
   int id = WebSecurity.CurrentUserId;
   List<LeerlingRepo.Leerling> leerlingen = LeerlingRepo.GetLeerlingen(); 
}

@foreach (LeerlingRepo.Leerling leerling in leerlingen)
{
    <p>
        <a href="~/Decaan/LeerlingDetails?Id=@leerling.UserId">
            <span class="glyphicon glyphicon-user"></span> 
            <span>@leerling.Voornaam</span>
            <span>@leerling.Achternaam</span>
        </a>
        <span>@leerling.Leerlingnummer</span>
        <span>@leerling.Niveau</span>
        <span>Vakken:</span>
        @foreach (Tuple<string,int> vak in leerling.KeuzeVakken())
        {
            <span>@vak.Item1</span>
        }
    </p>
}