@*Wordt aangeroepen in default*@
@{
   int id = WebSecurity.CurrentUserId;
   List<LeerlingRepo.Leerling> leerlingen = LeerlingRepo.GetLeerlingen(); 
}
<h2>Leerlingenoverzicht</h2>

<a class="btn btn-success" href="~/Admin/Leerling/BulkLeerlingenToevoegen">
    <span class="glyphicon glyphicon-plus"></span>&nbsp; Meerdere leerlingen aanmaken
</a>
<a class="btn btn-success" href="~/Admin/Leerling/LeerlingToevoegen">
    <span class="glyphicon glyphicon-plus"></span>&nbsp; Nieuwe leerling toevoegen
</a>

<table class="table" style="margin-top: 16px;">
    <thead>
    <tr>
        <th>Voornaam</td>
        <th>Achternaam</td>
        <th>Leerlingnummer</td>
        <th>Niveau</td>
        <th>Keuze vakken</td>
        <th>Details</td>
    </tr>
    </thead>
    <tbody>
            @foreach (LeerlingRepo.Leerling leerling in leerlingen)
            {
        
        <tr>
            <td>@leerling.Voornaam</td>
            <td>@leerling.Achternaam</td>
            <td>@leerling.Leerlingnummer</td>
            <td>@leerling.Niveau</td>
            <td>
                @foreach (Tuple<string,int> vak in leerling.KeuzeVakken())
                {
                    <span>@vak.Item1</span>
                }
            </td>
            <td>
                <a href="~/Decaan/LeerlingDetails?Id=@leerling.UserId">Meer</a>
            </td>
        </tr>
    }
    </tbody>
</table>