@*Wordt aangeroepen in default*@
@{
   int id = WebSecurity.CurrentUserId;
   List<LeerlingRepo.Leerling> leerlingen = LeerlingRepo.GetLeerlingen(); 
}

@if (User.IsInRole("Admin"))
{
    <a href="~/Admin/Decaan/DecaanOverzicht" class="btn btn-default" role="button">
        <span class="glyphicon glyphicon-user"></span> Decaan overzicht
    </a>
}

<a href="~/Decaan/Lokaal/LokaalOverzicht.cshtml" class="btn btn-default" role="button">
    <span class="glyphicon glyphicon-pencil"></span>&nbsp; Lokaal Overzicht
</a>

<a href="~/Decaan/Vak/VakOverzicht.cshtml" class="btn btn-default" role="button">
    <span class="glyphicon glyphicon-pencil"></span>&nbsp; Vak Overzicht
</a>

<a href="~/Decaan/Leraar/LeraarOverzicht.cshtml" class="btn btn-default" role="button">
    <span class="glyphicon glyphicon-pencil"></span>&nbsp; Leraar Overzicht
</a>
<a href="~/Decaan/Mail/MailOverzicht.cshtml" class="btn btn-default" role="button">
    <span class="glyphicon glyphicon-pencil"></span>&nbsp; Mail Overzicht
</a>

<table class="table">
    <tr>
        <td>Voornaam</td>
        <td>Achternaam</td>
        <td>Leerlingnummer</td>
        <td>Niveau</td>
        <td>Keuze vakken</td>
        <td>Details</td>
    </tr>
    @foreach (LeerlingRepo.Leerling leerling in leerlingen)
    {
    
        <tr>
            <td>@leerling.Voornaam</td>
            <td>@leerling.Achternaam</td>
            <td>@leerling.Leerlingnummer</td>
            <td>@leerling.Niveau</td>
            <td>
                @foreach (Tuple<string,int> vak in leerling.KeuzeVakken())
                {
                    <span>@vak.Item1</span>
                }
            </td>
            <td>
                <a href="~/Decaan/LeerlingDetails?Id=@leerling.UserId" class="btn btn-default" role="button">
                    <span class="glyphicon glyphicon-user"></span> Meer
                </a>
            </td>
        </tr>
    }</table>