@{
   int id = WebSecurity.CurrentUserId;
   List<LeerlingRepo.Leerling> leerlingen = LeerlingRepo.GetLeerlingen(); 
}

@foreach (LeerlingRepo.Leerling leerling in leerlingen)
{
    <p>
        @leerling.Voornaam
        @leerling.Achternaam
        @leerling.Leerlingnummer
        @leerling.Niveau Vakken: 
        @foreach (string vak in leerling.KeuzeVakken())
        {
            <span>@vak</span>
        }
    </p>
}