@*Wordt aangeroepen in default*@
@{
   int id = WebSecurity.CurrentUserId;
   List<LeerlingRepo.Leerling> leerlingen = LeerlingRepo.GetLeerlingen(); 
}

<ul class="nav nav-tabs">
    <li class="active"><a href="~/">Home</a></li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Overzichten <span class="caret"></span></a>
        <ul class="dropdown-menu">
            @if (User.IsInRole("Admin"))
            {
                <li><a href="~/Admin/Decaan/DecaanOverzicht">Decaanoverzicht</a></li>
            }
            <li><a href="~/Decaan/Lokaal/LokaalOverzicht.cshtml">Lokaaloverzicht</a></li>
            <li><a href="~/Decaan/Vak/VakOverzicht.cshtml">Vakkenoverzicht</a></li>
            <li><a href="~/Decaan/Leraar/LeraarOverzicht.cshtml">Lerarenoverzicht</a></li>
            <li><a href="~/Decaan/Mail/MailOverzicht.cshtml">E-mail overzicht</a></li>
        </ul>
    </li>
</ul>
</br>
Leerlingenoverzicht
</br>
</br>
<table class="table">
    <thead>
    <tr>
        <th>Voornaam</td>
        <th>Achternaam</td>
        <th>Leerlingnummer</td>
        <th>Niveau</td>
        <th>Keuze vakken</td>
        <th>Details</td>
    </tr>
    </thead>
    <tbody>
            @foreach (LeerlingRepo.Leerling leerling in leerlingen)
            {
        
        <tr>
            <td>@leerling.Voornaam</td>
            <td>@leerling.Achternaam</td>
            <td>@leerling.Leerlingnummer</td>
            <td>@leerling.Niveau</td>
            <td>
                @foreach (Tuple<string,int> vak in leerling.KeuzeVakken())
                {
                    <span>@vak.Item1</span>
                }
            </td>
            <td>
                <a href="~/Decaan/LeerlingDetails?Id=@leerling.UserId" class="btn btn-default" role="button">
                    <span class="glyphicon glyphicon-user"></span> Meer
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>