@*
    Permissies: Admin, Decaan(gedeeltelijk)
    Wordt aangeroepen in: Default
    Linkt door naar: Rooster, Decaan/LeerlingDetails?Id=[ID], [Alleen admin]: Admin/Leerling/LeerlingenToevoegen
    Beschrijving: Hoofd pagina van decaan. Geeft een overzicht van alle leerlingen
        Zoekveld werkt voor: voornaam, achternaam, leerlingnummer, niveau, keuzevakken, klas, aangemeld(true/false), mail, mail verzorger
*@
@{
   int id = WebSecurity.CurrentUserId;
   List<LeerlingRepo.Leerling> leerlingen = LeerlingRepo.GetLeerlingen();
   Page.Title = "Home";
}
<h2>Leerlingenoverzicht</h2>

@if (User.IsInRole("Admin"))
{
    <a class="btn btn-success" href="~/Admin/Leerling/LeerlingenToevoegen">
        <span class="glyphicon glyphicon-plus"></span>&nbsp; Leerlingen aanmaken
    </a>
}
<a class="btn btn-success" href="~/Rooster.cshtml">
    <span class="glyphicon glyphicon-user"></span>&nbsp; Volledig rooster
</a>
</br>
<div class="input-group" id="floatRight">
    <input type="text" class="form-control" id="search" placeholder="Gegevens zoeken" style="margin: 4px 4px 4px 4px;">
</div>
<table class="table" style="margin-top: 16px;">
    <thead>
    <tr>
        <th>Voornaam</td>
        <th>Achternaam</td>
        <th>Leerlingnummer</td>
        <th>Niveau</td>
        <th>Keuzevakken</td>
        <th>Details</td>
    </tr>
    </thead>
    <tbody id="table">
        @for (int i = 0; i < leerlingen.Count; i++)
        {
            <tr>
                <td>@leerlingen[i].Voornaam</td>
                <td>@leerlingen[i].Achternaam</td>
                <td>@leerlingen[i].Leerlingnummer</td>
                <td>@leerlingen[i].Niveau</td>

                <td>
                    <div class="dropdown">
                        <button  type="button" id="dropdownMenu_@i" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="padding: 0px; background-color: #fff; border: 0px;">
                            Vakken
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu_@i" style="width: max-content;">
                            @foreach (Tuple<string,int> vak in leerlingen[i].KeuzeVakken())
                            {
                                <li style="white-space: nowrap;">@vak.Item1</li>
                            }
                        </ul>
                    </div>
                </td>
                <td>
                    <a href="~/Decaan/LeerlingDetails?Id=@leerlingen[i].UserId">Bekijken</a>
                </td>
                <td style="display:none;">@leerlingen[i].Klas</td>
                <td style="display:none;">@leerlingen[i].Aangemeld</td>
                <td style="display:none;">@leerlingen[i].UserName</td>
                <td style="display:none;">@leerlingen[i].MailVerzorger</td>
            </tr>
        }
    </tbody>
</table>