@*Wordt aangeroepen in Leerling/_Leerling en Decaan/LeerlingDetails*@
@{
    if (!(User.IsInRole("Admin") || User.IsInRole("Decaan") || User.IsInRole("Leerling")))
    {
        Response.Redirect("~/");
    }

    // Als de gebruiker een leerling is is "id" zijn eigen ID,
    // anders is het de ID in de URL.
    int id = User.IsInRole("Leerling") == true ? WebSecurity.CurrentUserId : Convert.ToInt16(Request.QueryString["Id"]);

    // Als de gebruiker een leerling is is "leerling" de details van de leerling met het huidige ID,
    // anders als de gebruiker een admin of decaan is wordt er eerst gecheckt of de ID in de URL valide is, 
    // zoniet is het null.
    LeerlingRepo.Leerling leerling = (!Request.QueryString["Id"].IsEmpty() && Request.QueryString["Id"].IsInt() && (User.IsInRole("Admin") || User.IsInRole("Decaan"))) || User.IsInRole("Leerling") == true ? LeerlingRepo.GetLeerling(id) : null;
}
<h4 style="color: #585858">&nbsp; Welkom terug, <i>@leerling.Voornaam @leerling.Achternaam</i> (<i>@leerling.Leerlingnummer</i>)!</h4>

<table class="table">
    <thead>
    <tr>
        <th colspan="2">Test</th>
    </tr>
    </thead>
    <tbody>
        <tr>
                <td>Naam:</td>
                <td>@leerling.Voornaam @leerling.Achternaam</td>
            </tr>
            <tr>
                <td>Leerlingnummer:</td>
                <td>@leerling.Leerlingnummer</td>
            </tr>
            <tr>
                <td>Klas:</td>
                <td>@leerling.Klas</td>
            </tr>
            <tr>
                <td>Niveau:</td>
                <td>@leerling.Niveau</td>
            </tr>
            <tr>
                <td>E-Mail:</td>
                <td>@leerling.UserName</td>
            </tr>
            <tr>
                <td>E-Mail Verzorger:</td>
                <td>@leerling.MailVerzorger</td>
            </tr>
            <tr>
                <td>Talentstroom:</td>
                <td>@leerling.TalentstroomVak</td>
            </tr>
            <tr>
                <td>Aangemeld:</td>
                @if (leerling.Aangemeld)
                {
                    <td id="succesText">Aangemeld</td> 
                }
                else 
                {
                    <td id="dangerText">Niet aangemeld</td>
                }
            </tr>
            <tr>
                <td>Vakken:</td>
                <td>
                    @foreach (Tuple<string,int> vak in leerling.KeuzeVakken())
                    {
                        <span>@vak.Item1</span>
                    }
                </td>
            </tr>
    </tbody>
</table>