@*
    Permissies: Leerling
    Te bereiken van: Default(Leerling/_Leerling)
    Linkt door naar: ~
    Beschrijving: Geeft alle rooster punten van een leerling
*@
@{
    Page.Title= "Rooster";
    Layout = "~/_Layout.cshtml";

    if (!User.IsInRole("Leerling"))
    {
        Response.Redirect("~/");
    }

    int id = WebSecurity.CurrentUserId;
    LeerlingRepo.Leerling leerling = LeerlingRepo.GetLeerling(id);
    List<VoorlichtingRepo.Voorlichting> voorlichtingen = VoorlichtingRepo.GetStudentRooster(id);
}

<h2>Voorlichtingenrooster</h2>

<table class="table">
    <thead>
        <tr>
            <th>Vak</th>
            <th>Leraar</th>
            <th>Datum</th>
            <th>Lokaal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (VoorlichtingRepo.Voorlichting voorlichting in voorlichtingen)
        {
            <tr>
                <td>@voorlichting.Vak (@voorlichting.Niveau)</td>
                <td>@voorlichting.Leraar</td>
                <td>@string.Format("{0:d/M/yyyy HH:mm}", voorlichting.DateTime)</td>
                <td>@voorlichting.Lokaal</td>
            </tr>
        }
    </tbody>
</table>