@{
    Page.Title= "Keuze";
    Layout = "~/_Layout.cshtml";

    if (!User.IsInRole("Leerling"))
    {
        Response.Redirect("~/");
    }

    int id = WebSecurity.CurrentUserId;
    LeerlingRepo.Leerling leerling = LeerlingRepo.GetLeerling(id);

    List<VakRepo.Vak> vakken = VakRepo.GetVakken(leerling.Niveau);
    string error = "";
    
    int keuzeVakCount = 0;
    int[] keuzeVakken = new int[4] {-1, -1, -1, -1};
    foreach (Tuple<string,int> vak in leerling.KeuzeVakken())
    {
        keuzeVakken[keuzeVakCount] = vak.Item2;
        keuzeVakCount++;
    }
    
    if(IsPost && Request.Form["submitKeuze"] != null)
    {
        string[] keuzeVakArr = new string[4] {Request.Form["keuzevak_0"], Request.Form["keuzevak_1"],
                                              Request.Form["keuzevak_2"], Request.Form["keuzevak_3"]};
        int[] aantalMensenArr = new int[4] {Convert.ToInt16(Request.Form["aantalMensen_0"]), Convert.ToInt16(Request.Form["aantalMensen_1"]),
                                            Convert.ToInt16(Request.Form["aantalMensen_2"]), Convert.ToInt16(Request.Form["aantalMensen_3"])};

        if(Validation.IsValid())
        {
            var groups = keuzeVakArr.GroupBy(v => v);
            foreach(var group in groups)
            {
                if (group.Key != "-" && group.Count() > 1 || group.Key == "-" && group.Count() == keuzeVakArr.Length)
                {
                    error = "Er is een fout ontstaan, probeer het nog eens.";
                }
            }
            foreach(int aantalMensen in aantalMensenArr)
            {
                if (aantalMensen > 3 || aantalMensen < 1)
                {
                    error = "Er is een fout ontstaan, probeer het nog eens.";
                }
            }

            if (error != "Er is een fout ontstaan, probeer het nog eens.")
            {
                for (int i = 0; i < keuzeVakken.Length; i++)
                {
                    if (keuzeVakken[i] != -1 && keuzeVakArr[i] != "-")
                    {
                        if (keuzeVakken[i] == Convert.ToInt16(keuzeVakArr[i])){}
                        else
                        {
                            for (int j = i + 1; j < keuzeVakken.Count(); j++)
                            {
                                if (keuzeVakken[j] == Convert.ToInt16(keuzeVakArr[i]))
                                {
                                    KeuzeRepo.DeleteKeuze(id, Convert.ToInt16(keuzeVakArr[i]));
                                    keuzeVakken[j] = -1;
                                }
                            }
                        }
                        KeuzeRepo.UpdateKeuze(Convert.ToInt16(keuzeVakArr[i]), aantalMensenArr[i], keuzeVakken[i], id);
                    }
                    else if (keuzeVakken[i] == -1 && keuzeVakArr[i] != "-")
                    {
                        KeuzeRepo.InsertKeuze(id, Convert.ToInt16(keuzeVakArr[i]), aantalMensenArr[i]);
                    }
                    else if (keuzeVakken[i] != -1 && keuzeVakArr[i] == "-")
                    {
                        KeuzeRepo.DeleteKeuze(id, keuzeVakken[i]);
                    }
                }
                
                LeerlingRepo.UpdateAangemeld("True", id);
                Response.Redirect("~/");
            }
        }
    }
}

<h4>Vul hier uw keuzes in.</h4>
@Html.Raw(error)
<form method="post" class="form-inline">
    @for(int i = 0; i < 4; i++)
    {
        <p>
            <select name="keuzevak_@i">
                <option value="-"></option>

                @foreach(VakRepo.Vak vak in vakken)
                {
                    if (keuzeVakken[i] != -1 && vak.VakId == keuzeVakken[i])
                    {
                        <option value="@vak.VakId" selected>@vak.VakNaam</option>
                    }
                    else
                    {
                        <option value="@vak.VakId">@vak.VakNaam</option>
                    }
                }
            </select>
            <input type="number" name="aantalMensen_@i" min="1" max="3" value="1">
        </p>
    }
    <button type="submit" id="submit" name="submitKeuze" class="btn btn-success">
        <span class="glyphicon glyphicon-plus"></span> Submit
    </button>
</form>