@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Login";
    
    var userName = "";
    var password = "";
    bool rememberMe = false;

    Validation.RequireField("userName", "U moet een Email adres invoeren.");
    Validation.Add("userName",
        Validator.StringLength(
            maxLength: 400,
            minLength: 1,
            errorMessage: "Email adres mag niet meer dan 400 tekens bevatten."));

    Validation.RequireField("password", "U moet een wachtwoord invoeren");
    Validation.Add("password", 
        Validator.StringLength(
            maxLength: Int32.MaxValue,
            minLength: 6,
            errorMessage: "Wachtwoord met minstens 6 tekens bevatten."));

    if(IsPost)
    {
        AntiForgery.Validate();

        userName = Request.Form["userName"];
        password = Request.Form["password"];
        rememberMe = Request.Form["rememberMe"].AsBool();

        if(Validation.IsValid())
        {
            if(WebSecurity.Login(userName, password, rememberMe))
            {
                Context.RedirectLocal("~/");
                return;
            }
            else
            {
                ModelState.AddFormError("Het gegeven email adres en/of wachtwoord is onjuist.");
            }
        }
    }
}
<div class="col-md-12">
    <h2>Login</h2>
    <form method="post">
        @AntiForgery.GetHtml()
        @Html.ValidationSummary("Inloggen was onsuccesvol. Corrigeer de gegeven fouten en probeer opnieuw.", excludeFieldErrors: true, htmlAttributes: null)
        <fieldset>
            <div class="form-group">
                <label for="userName"><span class="glyphicon glyphicon-user"></span>&nbsp; Email adres</label>
                <input type="text" id="userName" name="userName" value="@userName" class="form-control">
                @Html.ValidationMessage("userName")
            </div>
            <div class="form-group">
                <label for="password"><span class="glyphicon glyphicon-check"></span>&nbsp; Wachtwoord</label>
                <input type="password" id="password" name="password" value="@password" class="form-control">
                @Html.ValidationMessage("password")
            </div>
            <div class="form-group">
                <label for=" rememberMe">Remember Me</label>
                <input type="checkbox" id="rememberMe" name="rememberMe" value="true" checked="@rememberMe"/>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-log-in"></span>&nbsp; login
                </button>
            </div>
        </fieldset>
    </form>
</div>

