@*To be removed*@
@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Manage my account";
    Page.Description = "Change your account information";   
    
    string passwordMessage = "";

    var db = Database.Open(App.AuthDataBase);

    //password variables
    var oldPassword = "";
    var newPassword = "";
    var confirmNewPassword = "";
    
    //code for changing password
    if(IsPost && Request.Form["submitPassword"] != null)
    {
        Validation.RequireField("oldPassword", "You have to enter your old password");
        Validation.RequireField("newPassword", "Your new password cannot be blank");
        Validation.Add("confirmNewPassword",
            Validator.EqualsTo("newPassword", "Your new password does not match your confirmation password"));
        Validation.Add("newPassword",
            Validator.StringLength(
                maxLength: Int32.MaxValue,
                minLength: 6,
                errorMessage: "Your password must be at least 6 characters long"));
        Validation.Add("oldPassword",
            Validator.StringLength(
                maxLength: Int32.MaxValue,
                minLength: 6,
                errorMessage: "Your password must be at least 6 characters long"));
        AntiForgery.Validate();
        if(Validation.IsValid())
        {
            oldPassword = Request.Form["oldPassword"];
            newPassword = Request.Form["newPassword"];
            confirmNewPassword = Request.Form["confirmNewPassword"];

            if(WebSecurity.ChangePassword(WebSecurity.CurrentUserName, oldPassword, newPassword))
            {
                passwordMessage = "Your password has been successfully changed";
            }
            else
            {
                passwordMessage = "Something went wrong while changing your password, please check your input and try again";
            }
        }
    }

    if(IsPost && Request.Form["removeUser"] != null && Roles.IsUserInRole("God"))
    {
        var tempUserId = Request.Form["removeUserId"];
        var tempUserName = Request.Form["removeUserName"];
        Roles.RemoveUserFromRole(tempUserName, "Admin");
        db.Execute("DELETE FROM webpages_Membership WHERE UserId = @0", tempUserId);
        db.Execute("DELETE FROM UserProfile WHERE UserId = @0", tempUserId);
    }
    db.Close();
}
<div class="col-md-12">
    <h2 class="robot-title">Change Password</h2>
    <form method="post" class="content-padding">
        @AntiForgery.GetHtml()
        <fieldset>
            @if(!passwordMessage.IsEmpty())
            {
                if(WebSecurity.ChangePassword(WebSecurity.CurrentUserName, oldPassword, newPassword))
                {
                  <div class="alert alert-success">
                   <a href="#" class="close" data-dismiss="alert">&times;</a> @passwordMessage</div>  
                }
                else
                {
                  <div class="alert alert-danger"> @passwordMessage</div>
                }
                
            }
            <div class="form-group">
                <label for="oldPassword"><span class="glyphicon glyphicon-erase"></span>&nbsp; Old Password</label>
                <input type="password" name="oldPassword" id="oldPassword" value="@oldPassword" class="form-control">
                @Html.ValidationMessage("oldPassword")
            </div>
            <div class="form-group">
                <label for="newPassword"><span class="glyphicon glyphicon-edit"></span>&nbsp; New Password</label>
                <input type="password" name="newPassword" id="newPassword" value="@newPassword" class="form-control">
                @Html.ValidationMessage("newPassword")
            </div>
            <div class="form-group">
                <label for="confirmNewPassword"><span class="glyphicon glyphicon-check"></span>&nbsp; Confirm New Password</label>
                <input type="password" name="confirmNewPassword" id="confirmNewPassword" value="@confirmNewPassword" class="form-control">
                @Html.ValidationMessage("confirmNewPassword")
            </div>
            <div class="form-group">
                <button type="submit" id="submitPassword" name="submitPassword" class="btn btn-default">
                    <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp; Change Password
                </button>
            </div>
        </fieldset>
    </form>
    <br>
    @if(Roles.IsUserInRole("God"))
    {       
        var users = db.Query("SELECT * FROM UserProfile WHERE UserId != @0", WebSecurity.CurrentUserId);
        <div class="panel panel-primary">
            <div class="panel-heading">Users</div>

            <table class="table">
                <thead>
                    <tr>
                        <th style="width: 80%">User Name</th>
                        <th><a href="~/Admin/Tools/Register" class="btn btn-success">Add new user</a></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var user in users)
                    {
                        string[] roles = Roles.GetRolesForUser(user.UserName);
                        if(!roles.Contains("God"))
                        {
                            <tr>
                                <td style="width: 80%">@user.UserName</td>
                                <td>
                                    <form method="post">
                                        <button type="submit" name="removeUser" id="removeUser" class="btn btn-danger">
                                            <span class="glyphicon glyphicon-remove"></span> Remove
                                        </button>
                                        <input type="hidden" name="removeUserId" id="removeUserId" value="@user.UserId">
                                        <input type="hidden" name="removeUserName" id="removeUserName" value="@user.UserName">
                                    </form>
                                </td>
                            </tr>   
                        }
                    }
                </tbody>
            </table>
        </div>
    }
</div>